<div style="width:80%; text-align:center">
<h1>Please verify your email.</h1>
<img style="width:100%" src="https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
<h3>Verify your email explore our many campgrounds. <br>
Feel free to share some of your own and comment on others!</h3>
<form action=<%=url %>  method="post">
<button type="submit">Verify your email</button>
</form>
</div>